
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
:root {
   --font-style: 'Nunito Sans', sans-serif;
}

* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   font-family: 'poppins', sans-serif;
}



.login-box {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 400px;
   padding: 40px;
   transform: translate(-50%, -50%);
   background: white;
   box-shadow: 0 15px 25px rgba(14, 9, 40, 0.7);
   border-radius: 10px;
}

.login-box h2 {
   margin: 0 0 30px;
   padding: 0;
   color: black;
   text-align: center;
}
.login-box h5 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
 }

.login-box .user-box input {
   position: relative;
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: black;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid black;
   outline: none;
   background: transparent;
}

.login-box .user-box label {
   position: relative;
   left: 0;
   top: -60px;
   padding: 10px 0;
   font-size: 16px;
   color: black;
   pointer-events: none;
   transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
   top: -85px;
   left: 0;
   color: black;
   font-size: 12px;
}

#submit {
   padding: 10px 20px;
   color: black;
   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: .5s;
   letter-spacing: 4px;
   border: 1px solid black;
   margin: auto;
}

#submit:hover {
   background: white;
   color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 5px black, 0 0 25px black , 0 0 50px black, 0 0 100px black;
}


body {
    background-image: url(flou.png);
    background-size: cover;
}


.contact {
    width: 100%;
}

.contactform {
    padding: 75px 50px;
    background: white;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}

.contactform .titre-texte span {
    color: #c95a23;
    font-size: 1.5em;
    font-weight: 700px;

}

.contactform .inputboite {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform h3 {
    color: black;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contactform .inputboite input,
.contactform .inputboite textarea {
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    color: black;
    outline: none;
    font-size: 20 px;
    font-weight: 300;
    resize: none;
}


button {
    padding: 10px 115px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #c95a23;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}




.inputboite input[type="submit"] {
    padding: 10px 135px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #c95a23;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

#register {
    font-size: 14.5px;
    text-decoration: none;
    color: black;
    width: 150%;
    text-align: auto;
}

#register a {
    color: #2a199a;
    text-decoration: none;

}


