body{
    margin: 0;
    padding: 0;
    
}
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: auto;    
}

.banniere{
    grid-area: ban;
    background-color: rgb(163, 44, 35);

}

.Moi{
    grid-area: Moi;
    background-color: rgb(199, 121, 182);
}

.Activites{
    grid-area: act;
    background-color: rgb(211, 211, 211);
}

.Fichiers{
    grid-area: fich;
    background-color: rgb(236, 219, 60);
}

.Credit{
    grid-area: cred;
    background-color: rgb(68, 61, 61);
}



