* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;


}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.logo img{
    width: 10%;
    height: 25%;
}

.logo span {
    color: #d75e21;
}

.navbar {
    display: flex;
    position: relative;

}

.navbar li {
    list-style: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.btn-reser {
    padding: 10px 20px;
    background: #c95a23;
    margin-top: -10px;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn-reser:hover {
    background: #c95a23;
    transition: ease-out;
}

header .navbar li a:hover {
    color: #c95a23;
    border-bottom: 2px solid #c95a23;
}

.banniere {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://altitude-blog.com/wp-content/uploads/2020/07/Blog-Banner-C.jpg);
    background-size: cover;
}

.banniere .contenu {
    max-width: 70%;
    text-align: center;

}

.banniere .contenu h2 {
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
    text-shadow: 0 0 1em black, 0 0 0.10em black;
}

.contenu p:nth-child(2) {
    color: black;
    font-size: 1.2em;
    text-shadow: 0 0 1em white, 0 0 0.50em gray;
}


.btn1 {
    font-size: 1em;
    color: #fff;
    background: #c95a23;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}



.btn1:hover {
    letter-spacing: 4px;
}

section {
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}

.row .col50 h2 {
    margin-bottom: 20px;

}

.titre-texte {
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span {
    color: #c95a23;
    font-size: 1.5em;
    font-weight: 700px;

}

.row .col50 img {
    height: 350px;
    width: 500px;
    position: relative;
    border-radius: 5px;
}

.titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.theme {
    margin-top: -100px;
}

.theme .contenu {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.theme .contenu .box {
    width: 200px;
    margin: 10px;
    border: 10px solid #fff;
    box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.8);
    border-radius: 5px;

}

.theme .contenu .box .imbox {
    position: relative;
    width: 100%;
    height: 95px;
    flex-direction: row;
}

.theme .container .contenu .box .imbox img {
    display: flex;
    flex-direction: row;
    width: 170px;
    height: 95px;
    border-radius: 5px;
}




.theme .contenu .box .text {
    text-align: center;
    font-weight: 50px;
    color: #111;
}


.theme .contenu .box .text h3 {
    font-weight: 100;
}



header.sticky {
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.05);
}

header.sticky .logo {
    color: #000;
}

header.sticky .navbar li a {
    color: #000;
}

header.sticky li a:hover {
    color: #c95a23;
    border-bottom: 2px solid #c95a23;
}

.container{
    width: 1450px;
    height: 185px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white;
    margin-left: 3%;
    padding-left: 650px;
    border-radius: 20px;
    box-shadow: 4px 1px 9px 5px #c95a23, 0 3px 5px 0 rgba(0, 0, 0, 0.19);

}

