* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-image: url(flou.png);
    background-size: cover;
}

.contact {
    width: 100%;
}

.contactform {
    padding: 15px 25px;
    background: white;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
    max-width: 400px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
    border-radius: 15px;
}

.contactform .titre-texte span {
    color: #c95a23;
    font-size: 1.5em;
    font-weight: 700px;

}

.contactform .inputboite {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.contactform h3 {
    color: black;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contactform .inputboite input,
.contactform .inputboite textarea {
    width: 100%;
    border: 1px solid gray;
    padding: 5px;
    color: black;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #c95a23;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contactform .inputboite input[type="submit"] {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #c95a23;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}