body{
    font-size: 40px;
    margin: 0;
    padding: 0;
}


.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.3fr 5fr 1.5fr;
    grid-template-rows: 0.1fr 1fr 0.05fr ;
    grid-template-areas: 
    "ban ban ban"
    "vente act chat"
    "cred cred cred";
}


header {
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 0.1px 0px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 0.90em;
    text-decoration: none;
}

.logo img{
    width: 15%;
    height: 25%;
}

.logo span {
    color: #d75e21;
}

.navbar {
    display: flex;
    position: relative;

}

.navbar li {
    list-style: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.btn-reser {
    padding: 15px 10px;
    background: #c95a23;
    margin-top: -2px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 0.5em;
}

.btn-reser:hover {
    background: #c95a23;
    transition: ease-out;
}

header .navbar li a:hover {
    color: #c95a23;
    border-bottom: 2px solid #c95a23;
}

.texte{
    font-size: 75%;
}


.banniere{
    grid-area: ban;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color:blue ;
}
.moi{
    grid-area: vente;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:yellow ;
}
.act{
    grid-area: act;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:pink ;
}
.depot{
    grid-area: chat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:green ;
}
.credit{
    grid-area: cred;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:red;
}