@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-image: url(flou.png);
            background-size: cover;
        }
        
        .drag-area {
            border: 10px dashed #c95a23;
            height: 275px;
            width: 315px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        .drag-area.active {
            border: 10px dashed black;
        }
        
        .icon {
            font-size: 30px;
            color: black;
        }
        
        header {
            font-size: 15px;
            font-weight: 700;
            color: black;
        }
        
        span {
            font-size: 15px;
            font-weight: 700;
            color: black;
            margin: 10px 0 15px 0;
        }
        
        button {
            padding: 10px 25px;
            font-size: 20px;
            font-weight: 500;
            border: none;
            outline: none;
            background: #c95a23;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        .contactform .inputboite input[type="submit"] {
            font-size: 1em;
            font-weight: 700;
            color: white;
            background: #c95a23;
            display: inline-block;
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2px;
            outline: none;
            border-radius: 5px;
            transition: 0.5s;
            max-width: 120px;
            align-items: center;
            justify-content: center;
            padding: 10px 25px;
        }


        .contactform .inputboite input,
.contactform .inputboite textarea {
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    color: black;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}



.contact {
    width: 100%;
}

.contactform {
    padding: 50px 50px;
    background: white;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
    max-width: 400px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}

.contactform .titre-texte span {
    color: #c95a23;
    font-size: 1.5em;
    font-weight: 700px;

}

.contactform .inputboite {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform h3 {
    color: black;
    font-size: 1.2em;
    margin-bottom: 20px;
}